@import "../variables";

.widget-rate {
  text-align: center;
  margin-top: 1.75rem;
  width: 48.375rem;
  border-bottom: 1px solid #dedede;
}

.widget-rate__title {
  font-style: normal;
  font-weight: 500;
  margin: 0rem;
}

.widget-rate__stars {
  padding: 1.625rem;
}

.widget-rate__star {
  margin: 0rem 0.375rem;
  width: 5rem;
  height: 5rem;
}

.widget-rate__star-on {
  fill: $primary-color;
}

.widget-rate__star-off {
  fill: #d3d3d3;
}
